.header {
  padding: 92px 24px 96px 24px;
}

.header__menu {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  justify-items: center;
  align-items: center;
}

.header__links-list {
  display: flex;
  gap: 31px;
  font-weight: 400;
  font-size: 18px;
  list-style: circle;
}

.header__links-list-item_no-bullet {
  list-style: none;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.right_underline {
  text-underline-offset: 4px;
}

.address {
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  letter-spacing: 0.01em;
}

address {
  all: initial;
}

.cover {
  position: relative;
  color: white;
  background-image: url(/ono-tebe-nado/images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  background-color: rgb(0 0 0/ 0.6);
}

.cover_title {
  position: relative;
  z-index: 1;
  padding: 160px 50px 147px 50px;
  font-size: 100px;
  letter-spacing: 0.3em;
}

.align_text {
  display: block;
  text-align: left;
}

.align_text-center {
  display: block;
  line-height: 1.35;
  text-align: center;
}

.align_text-right {
  display: block;
  line-height: 100px;
  text-align: end;
}

.letter-spacing-extended {
  letter-spacing: 58px;
}

.no_letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  bottom: 10px;
  left: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 35px;
}

.cover__description-text {
  position: relative;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 20px;
}

.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid white;
  color: white;
  font-weight: 500;
  font-size: 22px;
  line-height: 25.83px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  margin-top: 179px;
  padding: 0 24px;
}

.lots__heading {
  padding-bottom: 27px;
  padding-left: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  padding-bottom: 30px;
  list-style: none;
}

.lots__card-list-item {
  position: relative;
  width: 334px;
  min-height: 563px;
}

.card-link {
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card_type_film {
  background-image: url(/ono-tebe-nado/images/card-lot-01.jpg);
  background-position: center;
  background-size: cover;
}

.card_type_book {
  background-image: url(/ono-tebe-nado/images/card-lot-02.jpg);
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  background-image: url(/ono-tebe-nado/images/card-lot-03.jpg);
  background-position: center;
  background-size: cover;
}

.card__title {
  z-index: 1;
  padding: 51px 40px 0;
  color: white;
  font-size: 22px;
  line-height: 26.4px;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card__text {
  z-index: 1;
  padding: 0 40px 50px 40px;
  color: white;
  font-size: 20px;
  line-height: 24px;
}

.lots__look-more-link {
  margin-left: 40px;
  font-size: 20px;
  line-height: 23.48px;
}

.about {
  margin-top: 146px;
}

.about__column {
  padding: 0 24px 0 24px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  justify-self: start;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 46.96px;
  padding-left: 10px;
}

.about__text {
  position: relative;
  bottom: 36px;
  display: flex;
  flex-direction: column;
  grid-column: 2/3;
  gap: 24px;
  font-size: 20px;
  line-height: 24px;
  padding-left: 9px;
}

.footer {
  display: flex;
  justify-content: space-around;
  margin: 180px 50px 88px;
}

.footer__menu {
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-list-item {
  font-size: 18px;
  line-height: 21.13px;
  text-align: center;
}

.footer__menu-link {
}

.footer__menu-link_active {
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
}

.footer__social-link {
}

.footer__social-icon {
}
